.links {
  margin-top: 2rem;
}

.links ul {
  list-style-type: none;
}

.links ul li{
  list-style-type: none;
  }

.links ul li .btn-purple, .btn-pink {
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    padding: 1rem;
    margin: 1rem auto;
    font-size: 1rem;
    line-height: 110%;
    color: var(--white);
    border-radius: 5rem;
    border-color: #000000;
    box-shadow: 0.5rem 0.5rem 0rem 0rem #000;
  }

.links ul li .btn-purple {
  background: var(--purple-400);
  }

  .links ul li .btn-pink {
  background: var(--pink);
  }

.links ul li a, a:hover, a:focus, a:active {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

.links ul li button {
  transition: transform 0.5s;
  cursor: pointer;
}

.links ul li button:hover {
  -webkit-transform: translateY(-0.5rem);
	transform: translateY(-0.5rem);
}