.social-media {
    margin: 1rem;
}

.social-media ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.25rem;
    list-style-type: none;
}

.social-media ul li {
    display: flex;
}

.social-media ul li a {
    text-decoration: none;
    color: deeppink;
    transition: transform 0.5s;
}

.social-media ul li a:hover {
    -webkit-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem);
}

