#root {
  max-width: 1280px;
  margin: 0;
  padding: 0 2rem;
  text-align: center;
  background-color: --yellow;
}

.container {
  width: auto;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}